<footer>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1 col-xl-8 col-xl-offset-2">
			<hr>
			<small class="text-muted"> Copyright © 20{{ site.time | date: '%y' }} <a href="https://github.com/dmck/">Daniel McKnight</a> | <a href="{{base}}attributions/">See attributions.</a> | Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></small>
			</div>
		</div>
	</div>
	<!-- jQuery first, then Bootstrap JS. -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="{{base}}js/tether.min.js"></script>
	<script src="{{base}}js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.4.0/trianglify.min.js"></script>
	<script src="{{base}}js/custom.js"></script>
</footer>