<header class="site-header">
	<nav class="navbar navbar-full navbar-light bg-faded nav-top" id="mainNav">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-md-10 col-md-offset-1 col-xl-8 col-xl-offset-2">
					<a class="navbar-brand" href="{{ site.baseurl }}/">VIEW§</a>
					{% if page.years %}
						<button class="btn dropdown-toggle navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingYearMenu">
						Year
						</button>
					{% endif %}
					<button class="navbar-toggler pull-xs-right hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapsingMainMenu" aria-expanded="true">
					☰
					</button>
					<div class="collapse navbar-toggleable-xs pull-xs-right" id="collapsingMainMenu" aria-expanded="true">
						<form class="form-inline pull-xs-right" action="http://google.com" method="get" id="search-form">
							<div class="input-group" id="search-input-group">
								<input type="text" class="form-control" id="search-box" placeholder="Search for...">
								<div class="input-group-btn">
									<input class="btn btn-primary" style="display:none;" type="submit">
									<a class="btn btn-primary" href="#" role="button" id="statute-search">Statute</a>
									<a class="btn btn-info" href="#" role="button" id="caselaw-search">Caselaw</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</nav>
	</div>
	<nav class="navbar navbar-full bg-inverse navbar-fixed-bottom">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-md-10 col-md-offset-1 col-xl-8 col-xl-offset-2">
					<div class="collapse" id="collapsingYearMenu">
						<div class="list-group">
							{% for item in page.years %}
								{% if item.number == page.year %}
									<a href="{{ base }}{{ site.baseurl}}/{{ item.link }}" class="list-group-item active">{{ item.number }}</a>
								{% else %}
									<a href="{{ base }}{{ site.baseurl}}/{{ item.link }}" class="list-group-item">{{ item.number }}</a>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
</header>