<header class="site-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<nav class="navbar navbar-light bg-faded">
					<a class="navbar-brand" href="#">Navbar</a>
					<button class="navbar-toggler pull-xs-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
					&#9776;
					</button>
				</nav>
				<div class="collapse" id="exCollapsingNavbar">
					<div class="bg-inverse p-a-1">
						<div class="input-group">
							<span class="input-group-addon" id="search">Search</span>
							<input type="text" class="form-control" id="search-box" aria-describedby="search" placeholder="Search for...">
							<div class="input-group-btn">
							<a class="btn btn-primary" href="#" role="button" id="statute-search" id="statute-search">Statute</a>
							<a class="btn btn-info" href="#" role="button" id="caselaw-search" id="caselaw-search">Caselaw</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>