<header class="site-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<nav class="navbar navbar-light bg-faded">
					<a class="navbar-brand" href="#">Navbar</a>
					<button class="btn dropdown-toggle navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingYearMenu">
  						Year
  					</button>
					<button class="navbar-toggler pull-xs-right" type="button" data-toggle="collapse" data-target="#collapsingMainMenu">
					&#9776;
					</button>
				</nav>
				<div class="collapse" id="collapsingMainMenu">
					<div class="bg-inverse p-a-1">
						<div class="input-group input-group-sm">
							<input type="text" class="form-control" id="search-box" aria-describedby="search" placeholder="Search for...">
							<div class="input-group-btn">
							<a class="btn btn-primary" href="#" role="button" id="statute-search" id="statute-search">Statute</a>
							<a class="btn btn-info" href="#" role="button" id="caselaw-search" id="caselaw-search">Caselaw</a>
							</div>
						</div>
					</div>
				</div>
				<div class="collapse" id="collapsingYearMenu">
					<div class="bg-inverse p-a-1">
					<div class="list-group">
						{% for item in page.years %}
							{% if item == page.year %}
							<a href="#" class="list-group-item active">{{item}}</a>
							{% else %}
							<a href="#" class="list-group-item">{{item}}</a>
							{% endif %}
						{% endfor %}
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>