---
layout: default
---
<article class="faded-background">
	{{ content }}
</article>
<div class="alert alert-warning alert-dismissible fade in" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	<span aria-hidden="true">&times;</span>
	</button>
	<p><strong>Warning!</strong> There are no warranties for this site, whether for merchantability, fitness, or otherwise.</p> 
	<p>This website is not legal advice and may be inaccurate. If you want legal advice, please call an attorney.</p>
</div>